<footer>
  <div class="container text-center text-light align-items-center">
    <div class="row p-5">
      <div class="col-md-4 mt-5 mt-md-3">
        <h3 class="py-3">Location</h3>
        <p>124 Dar ElSalam - Cairo - Egypt</p>
      </div>
      <div class="col-md-4 mt-5 mt-md-3">
        <h3 class="py-3">About Me</h3>
        <div>
          <a
            href="https://www.facebook.com/hisham.abdelalem/"
            target="_blank"
            class="text-light"
          >
            <i class="fa-brands fa-facebook fa-2x mx-2"> </i>
          </a>
          <a href="https://twitter.com/home" target="_blank" class="text-light">
            <i class="fa-brands fa-twitter fa-2x mx-2"></i>
          </a>
          <a
            href="https://github.com/HeshamAbdelalem"
            target="_blank"
            class="text-light"
          >
            <i class="fa-brands fa-github fa-2x mx-2"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 mt-5 mt-md-3">
        <h3 class="py-3">About Freelancer</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by
          HeshamAbdelalem
        </p>
      </div>
    </div>
  </div>
  <div class="py-3 text-light text-center copyright-footer">
    <p class="m-0">Copyright © 2023</p>
  </div>
</footer>
