<div class="mt-5 h-75">s</div>
<div class="form-container w-75 mx-auto">
  <div class="form-floating mx-sm-3 mb-4">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="more@example.com"
    />
    <label for="floatingInput">User Name</label>
  </div>

  <div class="form-floating mx-sm-3 mb-4">
    <input type="text" class="form-control" id="userAge" placeholder="***" />
    <label for="userAge">User Age</label>
  </div>

  <div class="form-floating mx-sm-3 mb-4">
    <input type="email" class="form-control" id="userEmail" placeholder="***" />
    <label for="userEmail">User Email</label>
  </div>

  <div class="form-floating mx-sm-3 mb-4">
    <input
      type="password"
      class="form-control"
      id="userPassword"
      placeholder="***"
    />
    <label for="userPassword">User Password</label>
  </div>

  <button class="btn btn-outline-info ms-3">Submit</button>
</div>
