div.container {
  margin-top: 5rem;
}

.empty-line {
  height: 0.25rem;
  width: 100px;
  background-color: #323232;
}

img {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  border-radius: 1rem;
}

.image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #55b62eaf;
}
