<div class="container py-5 text-center">
  <div class="my-4 pb-4">
    <h1>Porfolio Component</h1>
    <div class="d-flex align-items-center justify-content-center">
      <div class="empty-line"></div>
      <i class="fa-solid fa-star px-3"></i>
      <div class="empty-line"></div>
    </div>
  </div>

  <!-- ! images  container  -->

  <div class="row g-5">
    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/poert1.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port2.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port3.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/poert1.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port2.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port3.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/poert1.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port2.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 overflow-hidden">
      <div class="image-container overflow-hidden bg-dark rounded rounded-3">
        <img src="../../assets/port3.png" alt="" />
        <div
          class="image-layer d-flex justify-content-center align-items-center text-light"
        >
          <p><i class="fa-solid fa-plus"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
